

.pic{
    height: 100%;
}

.scrollbox{
    height:90%;
    overflow: auto;
    overflow-y: hidden;
}

.text{
    height:10%
}


html{
    height: 100%;
    overflow-y: hidden;

}

body{
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
}

